* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-size: 18px;
}
h1 {
  /* text-align: center; */
  text-align: left;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#main-article h2 {
  position: relative;
  padding-left: 14px;
}
#main-article h2::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 8px; /* Şeridin genişliği */
  height: 100%; /* Şeridin yüksekliği, başlığın tam yüksekliği kadar */
  background-color: red; /* Kırmızı renk */
}
.other-h2 {
  text-align: center;
}

.top_split {
  height: 2px;
  border: none;
  margin-top: 4px;
  margin-bottom: 0;
}
.top-split-normal {
  background-color: #6b6b6b;
}
.top-split-night {
  background-color: white;
}

.split {
  height: 2.4px;
  background-color: #ccc;
  border: none;
  
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.details {
  font-size: 0.99rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details div {
  display: flex;
  align-items: center;
  height: 20px;
}

.container {
  display: flex;
}

.side {
  width: 32%;
}

.main-content {
  width: 36%;
}
.mode {
  cursor: pointer;
}
.link-night a{
  color: #5a97f9;
}
.link-night a:active {
  color: #3012b8;
}
.night-mode {
  color: white;
  background-color: black;
}

.light-mode {
  color: black;
  background-color: white;
}
.soft-black {
  color: rgb(44, 44, 44);
}
.soft-white {
  color: rgb(232, 232, 232);
}
.black {
  color: black;
}
.white {
  color: white;
}
#go_index {
  text-decoration: none;
  /* color: initial; */
  font-size: 1.5rem;
  font-weight: bold;
}

header {
  display: flex; 
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 2px solid rgb(99, 99, 99);
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  position: relative;
  width: 100%;
  
  aspect-ratio: 16/9;
  
  /*
  işe yaramıyor
  object-fit: cover;
  */
}
/* images in other contents */
.image-container-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  object-fit: cover;
}
.us-image {
  width: 100%;
}
.kunye {
  font-size: 0.92rem;
  border: 1px solid grey;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 6px;
}
.fof {
  font-weight: bolder;
  font-size: medium;
}
.kunye ul {
  color: inherit;
  display: inline;
}
.kunye ul li {
  display: inline;
}
/* Other makales */
.other_contents {
  display: flex;
  flex-wrap: wrap;
}
/* .other_contents img {
  border-radius: 4px;
} */
.other_contents article {
  flex-basis: calc(50% - 10px);
  margin-right: 10px;
}
.other_contents h2 {
  font-size: 1rem;
  margin-top: 8px;
  margin-bottom: 0;
}
.other_contents p {
  font-size: 1rem;
  /* color: rgb(57, 57, 57); */
  /* color: rgb(206, 206, 206); */
  margin-top: 6px;
}
.other_contents a {
  text-decoration: none;
  color: inherit
}
.other_contents a:visited {
  color: inherit; /* Link rengini miras al */
}
.other_contents a:active {
  color: inherit; /* Link rengini miras al */
}

/* Footer Settings */
footer {
  display: flex;
  background-color: rgb(0, 9, 27);
  padding-top: 20px;
  padding-bottom: 20px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 16px;
}
ul li {
  margin-bottom: 10px;
  font-size: 0.96rem;
}

.footer-content ul li a {
  /* color: rgb(44, 103, 252); */
  color: rgb(228, 233, 246);
}
.footer-content ul li a:hover {
  color: rgb(112, 148, 240);
}

.footer-content {
  display: flex;
  color: white;
  justify-content: space-between;
}
.footer-split {
  padding-right: 8px;
}
.section-title {
  font-size: 1.1rem;
}
.end {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1rem;
  text-align: center;
}
/* Responsive CSS Settings */
/* Tablet and Mobile Screen */

@media only screen and (max-width: 1600px) {
  .side {
    width: 30%;
  }
  .main-content {
    width: 40%;
  }
}

@media only screen and (max-width: 1100px) {
  .side {
    width: 20%;
  }
  
  .main-content {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .side {
    width: 16%;
  }
  .main-content {
    width: 68%;
  }
}

@media only screen and (max-width: 600px) {
  .side {
    width: 2.5%;
  }
  
  .main-content {
    width: 95%;
  }
}

@media only screen and (max-width: 500px) {
  ul {
    color: white;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 20px;
  }
  ul li {
    margin-bottom: 14px;
    font-size: 0.96rem;
    text-align: start;
  }
}

@media only screen and (max-width: 420px) {
  .other_contents {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 6px;
  }
  .other_contents article {
    /* flex-basis: calc(100% - 10px); */
    width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 200px) {
  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}